body {
  background-color: rgb(16, 35, 59);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: rgba(255, 255, 255, 0.811);

  border-radius: 10px;
  padding: 15px;
  width: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  margin-top: 10px;
}

footer {
  color: white;
  text-align: center;
}
